input, textarea {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  letter-spacing: 0.05em;
  font-size: 0.85em;
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: $spacing / 2;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
}

label {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: $spacing / 3;
}

h3 {
	font-size: 0.85rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: $spacing / 3;
}

small {
	font-size: 0.7rem;
}

h1, h2, textarea, label, p {
  color: #2c3e50;
}

h1, h2, textarea, label {
  font-weight: 600;
}

label, button {
  word-spacing: 0.05em;
}

.page-options p {
	font-size: 0.85rem;
	padding: 10px 0;

	strong {
		color: #435CC9;
	}
}

.back {
	color: #aaa;
	font-size: 0.85rem;
	margin-bottom: $spacing / 2;
	display: block;
}

a {
  text-decoration: none;
  color: #435CC9;

  &:hover, &:focus, &:active {
    color: darken(#435CC9, 10%);
  }
}