$font-sans: "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif !default;
$font-mono: monospace !default;
$font-serif: "Georgia", serif !default;

$font-family-default: $font-sans !default;

$font-weight-default: 400 !default;
$font-weight-bold: 700 !default;

$base-line-height: 1.7 !default;

$spacing: 2rem !default;

$size-smallest:   0.7rem !default;
$size-smaller:    0.8rem !default;
$size-small:      0.9rem !default;
$size-default:    1.0rem !default;
$size-big:        1.1rem !default;
$size-bigger:     1.2rem !default;
$size-biggest:    1.3rem !default;

$spacing-default: 0.01em !default;
$spacing-wide:    0.02em !default;
$spacing-wider:   0.05em !default;
$spacing-widest:  0.10em !default;

$radius-default:  2px !default;

$transition-default: 0.5s !default;

$on-tablet-portrait:  600px !default;
$on-tablet-landscape: 900px !default;
$on-laptop:           1200px !default;
$on-desktop:          1700px !default;
